version: 1

agent:
  # Additional system prompt to append to the agent's default system prompt
  additionalSystemPrompt: null
  # Enable streaming responses from the AI model
  streaming: true
  # Temperature setting for AI model responses (0.0-1.0)
  temperature: 0.3
  # Model ID to use for the agent. Valid options are: auto, gpt-5-2025-08-07,
  # claude-sonnet-4@20250514
  modelId: gpt-5-2025-08-07
  # Enable the deep planning tool for complex task planning
  enableDeepPlanTool: true
  experimental:
    # Enable/disable the agent to run in shadow mode. This will run the agent on
    # a temporary clone of your workspace, prompting you before any changes are
    # applied to your working directory.
    enableShadowMode: false

sessions:
  # Automatically restore the last active session on startup
  autoRestore: true
  # Directory where session data is stored
  persistenceDir: C:\Users\hp\.rovodev\sessions

atlassianConnections:
  # Global jira projects user is part of
  jiraProjects: []
  # Directory where any local overrides are stored
  localOverridePath: C:\Users\hp\.rovodev\atlassian_connections.json
  # Whether atlassian integration is enabled
  enabled: false

console:
  # Output format for console display (markdown, simple, or raw)
  outputFormat: markdown
  # Show tool execution results in the console
  showToolResults: true
  # Editing mode for the prompt session
  editingMode: EMACS
  # Shell command to generate a command prompt that replaces the default '> '.
  # For example, set 'STARSHIP_SHELL=rovodev starship prompt' to use Starship.
  customCommandPrompt: null
  # Maximum width of the console output in characters, or 'fill' to fill the
  # terminal width
  maxOutputWidth: fill

logging:
  # Path to the log file
  path: C:\Users\hp\.rovodev\rovodev.log

mcp:
  # Path to the MCP (Model Context Protocol) configuration file
  mcpConfigPath: C:\Users\hp\.rovodev\mcp.json
  # List of allowed MCP server signatures
  allowedMcpServers: []
  # List of globally disabled MCP server signatures
  disabledMcpServers: []

toolPermissions:
  # Default permission for tools not explicitly listed
  default: allow
  # Permission settings for specific tools
  tools:
    create_file: allow
    delete_file: allow
    move_file: allow
    find_and_replace_code: allow
    open_files: allow
    expand_code_chunks: allow
    expand_folder: allow
    grep: allow
  powershell:
    default: allow
    commands:
    - command: dir
      permission: allow
    - command: pwd
      permission: allow
    runInSandbox: true
  # List of file or directory paths that are allowed to be accessed outside the
  # workspace
  allowedExternalPaths: []

announcementTracking:
  announcementViewCounts: {}

sessionFeedback:
  permanentlyDisabled: false
  lastFeedbackAsked: null

atlassianBillingSite:
  siteUrl: https://laknolez-1762240370891.atlassian.net

smartTasks:
  # Enable Smart Tasks discovery
  enabled: true
  # List of task discovery sources
  sources:
  - filesystem
